.btn {
    min-width: 80px;
    padding: 0 16px;
    height: 36px;
    border-radius: 4px;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #1F1F1F;
    cursor: pointer;
    outline: none;
    border: 1px solid #E6E6E6;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pri-btn{
    color: #FFFFFF;
    background-color: #007AFF;
  }
  .btn.pri-btn:hover{
    color: #FFFFFF;
    background-color: #3395FF;
  }
  .btn:hover{
    background-color: #f6f6f6;
  }
  .btn:focus{
    outline: 1px solid #007AFF;
  }
  .delete-btn{
    color: white;
    background-color: red;
  }
  .btn.delete-btn:hover{
    color: white;
    background-color: red;
  }